.NewPulseForm {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    text-align: left;
    color: black;
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: #f58026df;
    max-width: 400px; /* Adjust the max-width as needed */
    margin: auto; /* Center the form */
}